{% extends 'app/base.html' %}
{% load static %}
{% block title %}Acoustic Guitar{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class ="list-group list-group-flush">
        <a href ="{%url 'acousticguitar'%}" class = "list-group-item list-group-item-action list-group-item-secondary" aria-current ="true"> All Acoustic Guitars </a>
        <a href="{% url 'acousticguitardata' 'Fender'%}" class = "list-group-item list-group-item-action list-group-item-secondary" aria-current ="true"> Fender </a>
        <a href="{% url 'acousticguitardata' 'Yamaha'%}" class = "list-group-item list-group-item-action list-group-item-secondary" aria-current ="true"> Yamaha </a>
        <a href="{% url 'acousticguitardata' 'Cort'%}" class = "list-group-item list-group-item-action list-group-item-secondary" aria-current ="true"> Cort </a>
        <a href="{% url 'acousticguitardata' 'below'%}" class = "list-group-item list-group-item-action list-group-item-secondary" aria-current ="true"> Price <10000 </a>
        <a href="{% url 'acousticguitardata' 'above'%}" class = "list-group-item list-group-item-action list-group-item-secondary" aria-current ="true"> Price > 10000 </a>
   </div>
  </div>
  <div class="col-sm-8 offset-sm-1">
   <div class="row">
    {%for product in guitar%}
      <div class="col-sm-4 text-center mb-4">
       <a href="{% url 'product-detail' product.id %}" class="btn">
        <img src ="{{product.product_image.url}}" alt="" height="300" class="item">
        <div class="fw-bold">{{product.title}}</div>
        <div class="fw-bold">Rs. {{product.discounted_price}}<small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
      </a>
     </div>
     {% endfor %}
    </div>
 </div>
{% endblock main-content %}