{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.product_image.url}}" alt="" class="img-fluid img-thumbnail rounded" >
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>{{product.title}}</h2>
   <hr>
    <h4>Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">Rs. {{product.selling_price}}</small></h4> <br>
   <p>Description: <br>{{product.description}}</p> <br>

{% if request.user.is_authenticated%}
{%if item_already_in_cart %}
 <a href="{% url 'show_cart' %}" class ="btn btn-warning shadow px-5 py-2 ms-4">Go to Cart </a>
 {%else%}
   <form action="/add-to-cart" class="d-inline">
   <input type = "hidden" name="prod_id" value={{product.id}} id="prod_id">
   <button type="submit" class="btn btn-primary shadow px-5 py-2">
 Add to Cart </button>   
 </form>
  <form action="/add_to_wishlist" class="d-inline">
   <input type = "hidden" name="prod_id" value={{product.id}} id="prod_id">
   <button type="submit" class="btn btn-warning shadow px-5 py-2">
  Wishlist </button>   
 </form>
 <form action="/buynow" class="d-inline">
   <input type = "hidden" name="prod_id" value={{product.id}} id="prod_id">
   <button type="submit" class="btn btn-success shadow px-5 py-2">
  Buy Now </button>   
 </form>
 {%endif%}


 {%endif%}

 {% if not request.user.is_authenticated%}
 <form action="/add-to-cart" class="d-inline">
   <input type = "hidden" name="prod_id" value={{product.id}} id="prod_id">
   <button type="submit" class="btn btn-primary shadow px-5 py-2">
 Add to Cart </button>  
 </form> 
  <form action="/add_to_wishlist" class="d-inline">
   <input type = "hidden" name="prod_id" value={{product.id}} id="prod_id">
   <button type="submit" class="btn btn-danger shadow px-5 py-2">
  Wishlist </button>   
 </form>
 <form action="/buynow" class="d-inline">
   <input type = "hidden" name="prod_id" value={{product.id}} id="prod_id">
   <button type="submit" class="btn btn-success shadow px-5 py-2">
  Buy Now </button>   
 </form>
 {%endif%}
  
 

  
    
   {% comment %} <a href="{% url 'buynow' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a> {% endcomment %}
   <h5 class="mt-5">Available Offers</h5>
   <ul>
    <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
    <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
   </ul>
  </div>
 </div>
</div>

<h4> &nbsp; Product Rating : {{product.rating}} <center> Reviews  <br>
<form action="/addreview" class="d-inline">
   <input type = "hidden" name="prod_id" value={{product.id}} id="prod_id">
   <button text="center" type="submit" class="btn btn-secondary shadow px-5 py-2">
       Add a Review </button> </center> </h4>
 </form>

<div class = "bg-dark d-grid gap-3 mx-auto">
<br>
<div class="col-sm-9 offset-sm-1  height: 100px; overflow-y: scroll;">
  {% for review in reviews%}
   <div class="row bg-light shadow-sm mb-3 rounded">
    <div class="col-sm-9">
      <p><strong> @{{review.user.username|capfirst}}</strong> &nbsp; &nbsp; -Posted {{review.created|timesince}} ago </p>
      <p>  {{review.description}} </p>
    </div>
    <div class ="col-sm-2">
    {% if request.user == review.user %}
       <br>
       <form action="/deletereview" class="d-inline">
       <input type = "hidden" name="reviewid" value={{review.id}} id="reviewid">
       <button text="center" type="submit" class="btn btn-danger shadow px-5 py-2">
       Delete </button> </form>
    {% endif %}
    </div>
    </div>   
 {%endfor%}
  </div>
</div>

{% endblock main-content %}