{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search Results{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h1 class="text-center  mb-5">Showing Results for "{{search_query}}"</h1>
  <div class="col-sm-9 offset-sm-1">
  {% if match_product%}
  {% for products in match_product%}
   <div class="row bg-light shadow-sm mb-3">
   <div class = "col-sm-2">
   <a href="{% url 'product-detail' products.id %}" class="btn">
   <img src = "{{products.product_image.url}}" alt="" srcset="" class="img-fluid" height="150" width="150"> </a>
   </div>
    <div class="col-sm-7">
    <p><strong> {{products.title}} </strong> </p>
    <p><strong> Brand:</strong> {{products.brand}} </p>
    <p> <strong> Category: </strong> {{products.category}} </p>
    <p> <strong> Price: </strong> {{products.discounted_price}} </p>
    </div>
    <div class="col-sm-2">
    <br>
    <form action="/add-to-cart" class="d-inline">
   <input type = "hidden" name="prod_id" value={{products.id}} id="prod_id">
   <button type="submit" class="btn btn-primary shadow px-5 py-2"> 
    <img src = "{% static 'app/images/addtocarticon.png' %}" alt="" class ="img-fluid img-thumbnail w-5 center">
  </button>   
 </form>
    </div>
    </div>
   
 {%endfor%}
 {% else %}
 <div class = "text-center">
 <img src = "{% static 'app/images/noimagefound.png' %}" alt="" class ="img-fluid img-thumbnail w-25 center">
 <br>
 <br>
 <h3 > Sorry, No Results Found </h3>
 </div>
 {%endif%}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}